.FormsSection {
    /* background-color: rgb(90, 38, 38); */
    width: 35%;
    overflow-y: auto;
    height: 100vh;
}

/* Custom scrollbar styling for webkit-based browsers */
.FormsSection::-webkit-scrollbar {
    width: 5px;
    /* Width of the scrollbar */
}

.FormsSection::-webkit-scrollbar-thumb {
    background-color: #424242;
    /* Color of the scrollbar thumb */
    border-radius: 5px;
    /* Rounded corners for the thumb */
}

.FormsSection::-webkit-scrollbar-thumb:hover {
    background-color: #555;
    /* Color of the scrollbar thumb on hover */
}

.FormsSection::-webkit-scrollbar-track {
    background-color: #f2f2f2;
    /* Color of the scrollbar track */
}

.FormsSection::-webkit-scrollbar-track:hover {
    background-color: #e0e0e0;
    /* Color of the scrollbar track on hover */
}

.formsContainer {
    padding-left: 20px;
}

.formSmallSection {
    margin-bottom: 15px;
}

.greenTickWithTitle {
    display: flex;
}

.greenTick {
    width: 20px;
    height: 20px;
}

.tile {
    margin-bottom: 9px;
    font-size: 18px;
    font-weight: bold;
}

.star {
    color: red;
}

.input {
    width: 90%;
    height: 30px;
    border-radius: 8px;
    border-color: rgb(179, 179, 179);
    border-style: solid;
    padding-left: 10px;
    font-size: 20px;
    /* color: blue; */
}

.canadaImg {
    width: 30px;
}

.TypesContainer {
    display: flex;
    column-gap: 50px;
}

.eachTypeContainerForCustomization {
    height: fit-content;
    width: 90%;
    border-radius: 15px;
    border-width: 1px;
    border-style: solid;
    padding: 10px;
    margin-bottom: 13px;
}

.eachTypeContainer {
    height: fit-content;
    width: 23.5%;
    border-radius: 15px;
    border-width: 1px;
    border-style: solid;
    text-align: center;
    padding-top: 5px;
}

.carTypeImg {
    /* width: 100px; */
    /* height: 40px; */
    width: 90%;
    height: 100%;
    margin-bottom: 5px;
    animation: fadeInAnimation 1s ease-in-out forwards;
}

.typeName {
    margin-bottom: 5px;
}

.time {
    margin-top: 10px;
}

.dateSpan {
    font-weight: bold;
}

.date-dropdown {
    width: 40%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #f7f7f7;
}

.working-hours-note {
    margin: 5px 0;
    /* font-size: 14px; */
    color: #666;
}

.working-hours-note-weekend {
    margin: 5px 0;
    color: green;
    font-weight: 500;
}

.timeSliderContainer {
    display: flex;
    width: fit-content;
    margin-top: -15px;
    /* height: 30px; */
    margin-bottom: -15px;
}

.sellectedTime {
    margin-left: 10px;
}

.note {
    font-size: 16px;
    color: #333;
    /* Default text color */
}

.important-text {
    color: #e74c3c;
    /* Red color for important text */
}

.satisfactory-text {
    color: #3498db;
    /* Blue color for satisfactory text */
}

/* @media (max-width: 560px) {
    .loadingBG {
        background-color: #0056b3;
        width: 100vh;
        height: 100vh;
        bottom: 0;
        left: 0;
    }
} */

.discount-message {
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f7f7f7;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* margin: auto; */
    /* width: max-content; */
    margin-bottom: 30px;
    width: 85%;
    animation: fadeInAnimation 0.5s ease-in-out forwards;
}

@keyframes fadeInAnimation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.discount-active {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadeInAnimation 0.5s ease-in-out forwards;

}

.discount-label {
    font-size: 1.2rem;
    font-weight: bold;
    color: #3e8f3e;
    margin-bottom: 0;
    animation: fadeInAnimation 0.5s ease-in-out forwards;

}

.discount-info {
    font-size: 1rem;
    color: #666;
    animation: fadeInAnimation 0.5s ease-in-out forwards;

}

.time-boxes {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    animation: fadeInAnimation 0.7s ease-in-out forwards;
}

.time-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80px;
    /* Adjust the width as needed */
    height: 80px;
    /* Equal width and height to create a circular shape */
    margin: 0 10px;
    border-radius: 50%;
    /* Make it circular */
    background-color: #3e8f3e;
    /* Background color for the circle */
    color: #fff;
    /* Text color for better visibility */
}

.time-box-value {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
    /* Remove default margin to reduce spacing */
}

.time-box-label {
    font-size: 0.9rem;
    margin: 0;
    /* Remove default margin to reduce spacing */
}

.noDiscount {
    color: red;
    font-weight: bold;
}

@media (max-width: 1240px) {
    .time-box {
        width: 70px;
        /* Adjust the width as needed */
        height: 70px;
        /* Equal width and height to create a circular shape */
    }

    .time-box-value {
        font-size: 1rem;
    }

    .time-box-label {
        font-size: 0.7rem;
    }
}

@media (max-width: 1000px) {
    .time-box {
        width: 80px;
        /* Adjust the width as needed */
        height: 80px;
        /* Equal width and height to create a circular shape */
    }

    .time-box-value {
        font-size: 1.5rem;
    }

    .time-box-label {
        font-size: 0.9rem;
    }
}

@media (max-width: 450px) {
    .time-box {
        width: 65px;
        /* Adjust the width as needed */
        height: 65px;
        /* Equal width and height to create a circular shape */
        padding: 3px;
        margin: 0 4px;
    }

    .time-box-value {
        font-size: 1.2rem;
    }

    .time-box-label {
        font-size: 0.7rem;
    }
}